<% layout('layouts/boilerplate')%>


<div class="header p-3 pb-md-4 mx-auto text-center">
  <h3 class="display-5 fw-normal">Upcoming Workouts</h3>
</div>
 
 
    <table class="table table-striped text-center">
      <thead>
        <tr>
          <th scope="col">Workout</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Connect</th>
        </tr>
      </thead>
      <tbody>
        <% user.upcomingWorkouts.forEach(workout => { %>

         
          <tr>
            <td scope="row"><%= workout.workout %> </th>
            <td><%= workout.date %> </td>
            <td><%= workout.time %> </td>
            <td><a href="/workouts/<%= workout._id%>" class="btn btn-sm btn-secondary">Buddy Chat</a></td>
            
          </tr>
          <% }) %>
      </tbody>
    </table>