<% layout('layouts/boilerplate')%>

<h1 class="text-center"></h1>
       
 
 
    <table class="table table-striped text-center">
      <thead>
        <tr>
          <th scope="col">Workout</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Connect</th>
          <th scope="col">Cancel</th>
        </tr>
      </thead>
      <tbody>
        <% user.upcomingWorkouts.forEach(workout => { %>

         
          <tr>
            <td scope="row"><%= workout.workout %> </th>
            <td><%= workout.date %> </td>
            <td><%= workout.time %> </td>
            
          </tr>
          <% }) %>
      </tbody>
    </table>